<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr [formGroup]="filterForm">
        @for (header of headers; track $index) {
          <th scope="col">
            <div class="d-flex align-items-center justify-content-center text-center">
              <div>
                {{ header.label }}
              </div>
            </div>
            @if (header.filter && header.filter.type === 'text') {
              <div>
                <input class="form-control form-control-sm"
                       type="text"
                       [formControlName]="header.label"
                       (keyup.enter)="applyFilter()"
                       placeholder="Filtrar por {{ header.label }}">
              </div>
            }

            @if (
              header.filter
              && header.filter.type === 'options'
              && header.filter.options
              && header.filter.options.length
            ) {
              <div>
                <select
                  class="form-control"
                  [formControlName]="header.label"
                  (change)="applyFilter()"
                >
                  @for (opt of header.filter.options; track $index) {
                    <option [value]="opt.value">{{opt.label}}</option>
                  }
                </select>
              </div>
            }
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @if (hasData) {
        @for (item of data; track $index) {
        <tr>
          @for (header of headers; track $index) {
            <td>{{ item[$index] }}</td>
          }
        </tr>
        }
      } @else {
        <tr>
          <td [attr.colspan]="headers.length" class="text-center text-muted py-4">
            Nenhum dado para exibir.
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
